html {
	font-size: 10px;
}

body {
	font-family: "Ubuntu", serif;
	color: rgb(2, 2, 129);
	font-size: 2rem;
}

.wrapper {
	position: relative;
	height: 100vh;
}

.fon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.3;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.title {
	font-weight: 700;
	line-height: 120%;
	color: rgb(9, 9, 226);
}

.subtitle {
	margin-bottom: 3rem;
	font-size: 3rem;
	font-style: italic;
	text-decoration: underline;
}

.button {
	padding: 0 1rem;
	min-height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	background-color: rgb(9, 9, 226);
	color: rgb(255, 255, 255);
	border-radius: 1rem;
	transition: all 0.5s ease;
	&:hover {
		box-shadow: 0 0 1rem rgb(2, 2, 129);
	}
}

.weather {
	max-width: 123rem;
	height: 96%;
	margin: 0 auto;
	padding: 3rem 1.5rem;


		// .weather__title

		&__title {
			margin-bottom: 3rem;
			font-size: 4rem;
		}

		&__items {
			display: flex;
			justify-content: space-between;
			height: 100%;
		}

		// .weather__city

		&__city {
			margin-right: 1rem;
		}
}

.city {

		// .city__search

		&__search {
			margin-bottom: 3rem;
			display: flex;
		}

		// .city__name

		&__name {
			margin-right: 2rem;
			width: 30rem;
			padding: 1rem;
			font-size: 2.2rem;
		}

		&__buttons {
			display: flex;
		}

		&__result {
			display: none;
		}

		&__button {
			margin-right: 1rem;
		}
}

.result {
	max-width: 33rem;
	padding: 2rem;
	box-shadow: 0 0 1rem rgb(9, 9, 226);
	border-radius: 1rem;
	transition: all 0.5s ease;

		// .result__city

		&__city {
			margin-bottom: 1rem;
			font-size: 2.2rem;
		}

		// .result__date

		&__date {
			margin-bottom: 1rem;
			font-weight: 500;
		}

		// .result__temperature

		&__temperature {
			margin-bottom: 1rem;
		}

		// .result__cloudy

		&__cloudy {
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			
			img {
				margin-right: 1rem;
			}
		}

		// .result__rain

		&__rain {
			margin-bottom: 1rem;
		}
}

.geolocation {
width: 33rem;

	&__buttons {
		display: flex;
		margin-bottom: 2rem;
	}

	// .geolocation__button

	&__button {
		max-width: fit-content;
		margin-right: 1rem;
	}

	&__result {
		display: none;
	}
}

@media (max-width: 1024px) {
	.city {
		&__search {
			flex-direction: column;
		}

		&__name {
			margin-bottom: 2rem;
		}
	}
}

@media (max-width: 768px) {
	.weather__items {
		flex-direction: column;
		justify-content: flex-start;
	}

	.weather__city {
		margin-bottom: 5rem;
	}
}

@media (max-width: 480px) {
	body {
		font-size: 1.8rem;
	}

	.subtitle {
		font-size: 2.4rem;
	}

	.city {
		&__name {
			width: 26rem;
			font-size: 1.8rem;
		}
	}

	.button {
		font-size: 1.6rem;
	}

	.result {
		padding: 1rem;
		max-width: 25rem;
	}
}
